@import 'tailwindcss';

@theme {
  --color-primary-light: #f7d278;
  --color-primary-base: #ec8e4a;
  --color-primary-pale: #fff3d6;

  --color-secondary-blue: #4285f4;
  --color-secondary-red: #ea4335;

  --color--neutral-dark: #777777;
  --color--neutral-DEFAULT: #b5b5b5;
  --color--neutral-light: #f2f2f2;

  --text-size-xs: 10px;
  --text-size-sm: 12px;
  --text-size-md: 14px;
  --text-size-lg: 16px;
  --text-size-xl: 28px;
  --text-size-2xl: 20px;
}

@layer base {
  html {
    font-family: Pretendard, sans-serif;
  }
}
